
.errorMsg{
    -fx-text-fill: red;
}

.validMsg{
    -fx-text-fill: green;
}

.creationCompteText{
    -fx-text-fill: #FFC745;
}

.creationCompteBackGround{
    -fx-background-color: #004746;
}

.shadowed-button {
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0.5, 4, 4);
}

#clock{
    -fx-background-color: white;
}

